.img-fluid {
    height: 25%;
    max-width: 100%;
}

.item::after {
    background:rgba(0,0,0,0.5);
}

.title {
    text-align: left;
    margin-top: 4rem;
    margin-left: 4rem;
}
.image-div {
    margin-right:10px;
    width: 200px;
    height: 200px;
  }
