.image {
    max-height: 800px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    filter:brightness(40%); /*
 You can try with filter to give darkness to each image */
    object-position: 0px 20% ;
    
}
.carousel-caption {
    padding-bottom: 10rem;
}
.display-block-ove {
    width: 650px;
}
.carousel-item {
    text-align: left;
}
