.mask {
    border-color: white;
}
.img-fluid  {
    width: 12rem;
    height: 100%;
}
.img-fluid:hover {
    transform: scale(1.3);
    transition: transform .5s ease;
  }
.card {
    max-width: 250px;
    max-height: auto;
    display: inline-block
}
